.submission-name-container {
    cursor: pointer;
}

.main-navbar {
    padding-top: 10px;
}

.navbar-brand-black {
    color: black;
}

.navbar-brand-white {
    color: white;
}

.navbar-container {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-button {
    margin: 7px;
}

.split-panel {
    padding: 0;
}

.inner-split-panel {
    height: calc(100vh - 60px);
    overflow-y: scroll;
}

.file-view-panel {
    margin-left: 20px;
    overflow-y: hidden;
    padding-right: 5px;
    display: flex;
    flex-flow: column;
}

.grading-panel {

}

/*::-webkit-scrollbar {*/
/*display: block;*/
/*}*/

#outer-container {
    overflow: hidden;
    margin: 2px;
}

pre {
    color: unset;
}

.outer-file-preview {
    flex: 1; /* 1 and it will fill whole space left if no flex value are set to other children*/
    margin-top: 0;
    margin-bottom: 0;
    overflow-y: auto;
    opacity: 0.85;
}

.outer-file-preview:before {
    content: none;
    box-shadow: none !important;
}

.outer-file-preview:after {
    content: none;
    box-shadow: none !important;
}

.file-preview {
    overflow-x: visible;
    overflow-y: visible;
    float: left;
}

.search-text {
    width: 250px;
    margin: 0;
    display: inline-block;
}

.directory-name-main {
    /*color: #777777;*/
    font-size: 18px;
    padding: 17px 15px 15px;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 25vw;
}

.sidenav-button {
    width: 100%;
}

.mat-sidenav-content {
    overflow-x: hidden;
}

mat-sidenav {
    overflow-x: hidden;
}

#outer-container {
    overflow-x: hidden;
}

.nav-bar-fade-on-hover {
    cursor: pointer;

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.nav-bar-fade-on-hover:hover, .nav-bar-fade-on-hover:focus, .nav-bar-fade-on-hover:active {
    color: white;
}

.tab-item {
    width: 100%;
    cursor: hand;
    font-weight: bold;
}

.navbar-collapse {
    padding: 0;
}

.navbar-files {
    margin: 0;
    height: auto;
}

.file-tab {
    padding: 2px 7px;
}

.submitted-file-tab {
    color: #4fab15 !important;
}

.submitted-file-tab:hover {
    color: #34650f !important;
}

.support-file-tab {
    color: #777777;
}

.output-tab {
    color: #00a7a3 !important;
}

.output-tab:hover {
    color: #006562 !important;
}

.active-file-tab {
    background-color: #EEEEEE;
}

.active-file-tab-dark {
    background-color: #2e2e2e;
}

.file-name {
    margin: 1px;
}

.search-div {
    padding: 4px;
}

.search-button {
    padding: 2px 12px;
    margin-left: 2px;
}

.regex-toggle {
    padding: 0 12px;
    height: 26px;
}

.grading-tab {
    height: calc(100vh - 110px);
    overflow-y: scroll;
}

.item-card {
    padding: 5px;
    margin: 3px;
}

.optional-item-panel {
    margin-top: 0;
    margin-bottom: 0;
}

.item-header {
    height: 25px;
}

.optional-item-expansion-header {
    height: 25px;
    padding-left: 15px;
}

.optional-item-header {
    display: inline-block;
    width: 100%;
}

.optional-item-points {
    float: right;
    margin-right: 8px;
    margin-top: 4px;
}

.optional-item-section-card {
    padding: 4px;
    margin-bottom: 4px;
}

.optional-item-points-large {
    font-size: 11pt;
}

.optional-item-points-small {
    font-size: 9pt;
}

.item-name {
    font-weight: bold;
    font-size: 12.5pt;
}

.optional-item-name {
    font-weight: bold;
    font-size: 14pt;
    float: left;
}

.optional-item-regex-matches-summary {
    display: inline-block;
}

.optional-item-regex-matches-number {
    margin-top: 3px !important;
    margin-left: 6px !important;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline-block;
}

.item-author-data {
    font-weight: lighter;
    font-size: 11pt;
}

.item-notes-data {
    font-weight: lighter;
    font-size: 11pt;
}

.skip-item-button {
    float: right;
    height: 22px;
    line-height: 22px;
    padding: 0;
}

.skip-text {
    font-weight: normal;
}

.optional-item-comments-container {
    margin-top: 5px;
}

.additional-issue-card {
    padding: 10px;
    min-height: 48px;
    margin: 3px 0;
}

.cursor-pointer {
    cursor: pointer;
}

.rubric-items-header, .summary-header {
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 0;
}

.item-header-chip, .summary-header-chip {
    margin: 2px 2px 2px 4px;
    vertical-align: top;
}

.show-unresolved-test-metadata-toggle {
    float: right;
    padding-top: 6px;
    padding-right: 2px;
}

.regex-matches-header {
    padding-top: 4px;
    font-weight: bold;
    font-size: 11.5pt;
}

#apply-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

#apply-comment {
    display: inline-block;
    margin: 0;
    width: calc(100% - 105px);
    resize: vertical;
}

#apply-button {
    display: inline-block;
    width: 100px;
    height: 34px;
    vertical-align: top;
    margin-left: 2px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0;
}

#efficiency-comment {
    display: inline-block;
    margin: 0;
    width: calc(100% - 168px);
    resize: vertical;
}

.additional-comment {
    display: inline-block;
    margin: 0 0 0 2px;
    width: calc(100% - 120px);
    resize: vertical;
}

.point-adjustment-comment {
    display: inline-block;
    margin: 0 0 0 2px;
    width: calc(100% - 180px);
    resize: vertical;
}

#efficiency-add-button {
    display: inline-block;
    width: 1px;
    height: 34px;
    vertical-align: top;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0 !important;
}

.additional-comment-add-button {
    display: inline-block;
    width: 1px;
    height: 34px;
    vertical-align: top;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0 !important;
}

.populate-exception-message {
    cursor: pointer;
}

.exception-link {
    cursor: pointer;
}

.contact-link {
    cursor: pointer;
}

.resolved-issue-control {
    float: right;
}

.resolved-issue-btn {
    line-height: 24px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    min-width: 10px;
}

.additional-summary-text {
    font-weight: 600;
}

.additional-description {
    display: inline-block;
    font-size: 22px;
}

.additional-issue-control {
    float: right;
}

.additional-issue-btn {
    line-height: 24px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    min-width: 10px;
}

.additional-issue-comment {
    display: inline-block;
    margin: 0;
    width: calc(100% - 106px);
    resize: vertical;

}

.additional-issue-comment-btn {
    line-height: 24px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    min-width: 10px;
    margin-top: 3px;
    float: right;
}

.additional-issue-comment-label {
    vertical-align: top;
    padding-left: 8px;
}

.remove-additional-issue-comment {
    display: inline-block;
    margin: 0;
    padding-top: 8px;
    width: calc(100% - 136px);
    word-wrap: break-word;
}

.remove-additional-issue-comment-btn {
    line-height: 24px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    min-width: 10px;
    margin-top: 3px;
    float: right;
}

.remove-additional-issue-comment-label {
    vertical-align: top;
    padding-left: 8px;
}

.javadoc-container {
    margin-bottom: 0;
    margin-top: 5px;
    margin-left: 20px;
    padding: 5px;
}

.additional-issue-comment-separator {
    margin: 5px;
}

.comment-movement-control {
    float: right;
}

.efficiency-issue-btn {
    line-height: 24px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    min-width: 10px;
}

.points-header {
    display: inline-block;
    margin-top: 0;
}

.points-header-chip {
    margin: 12px;
    margin-top: 20px;
    margin-bottom: 0;
    vertical-align: top;
}

.summary-card {
    padding: 10px;
    margin: 3px;
}

.points-summary-text {
    display: inline-block;
    padding: 5px;
    margin: 0;
}

.point-adjustment-points-input {
    padding: 0 !important;
}

.point-adjustment-points-text {
    font-weight: bold;
    font-size: 11pt;
}

.grader-summary {
    word-wrap: break-word;
    white-space: pre-line;
    display: inline-block;
    width: calc(100% - 92px);
}

.clipboard-btn {
    float: right;
    display: inline-block;
}

.clipboard-image {
    height: 20px;
}

/*Cannot be completely hidden because clipboard needs it*/
.ide-project-text {
    color: transparent;
    font-size: 1px;
    line-height: 1px;
    height: 0;
    width: 0;
    margin: 0;
}
